*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px ;

}

body{
    background-color: rgb(25, 110, 77);
}


.height70 {height: 70%;}
.width80 { width: 80%;}
.fontWeight {font-weight: bold;}
.fontSizeOrario{ font-size: 10px;}
.border {border-bottom: solid gray 1px;}
.padding0 {padding: 0px;}
.padding5 {padding: 5px;}
.padding10 {padding: 10px;}
.paddingLeft { padding-left: 10px;}
.padding5Left{ padding-left: 5px;}
.marginAuto { margin: 0 auto;}
.margin0 { margin: 0;}
.marginBottom10 {margin-bottom: 10px;}
.alignItemsCenter {align-items: center;}
.alignItemsEnd {align-items: end;}
.justifyContentBetween {justify-content: space-between;}
.justifyContentAround { justify-content: space-around;}
.justifyContentCenter { justify-content: center;}
.justifyContentEnd {justify-content: end; }
.dFlex {display: flex;}
.flexDirectionColums { flex-direction: column;}


.container{
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    max-width: 1500px;
    min-height: 500px;
}

.sezioneSx{
    width: calc(100% / 3);
    background-color: antiquewhite;
}

/******** utente principale. ********/

.utentePrincipale{
    width: 100%;
    max-height: 60px;
    background-color: #EAEAEA;
}

.avatarIo{
    height: 100%;
    border-radius: 50px;
}
.conteinerIcone{
    min-width: calc(100% / 4);
}

.icone{ color: rgba(0, 0, 0, 0.336);}


/********  notifiche ********/

.notifiche{
    width: 100%;
    min-height: 70px;
    background-color: #8EDAFC;
}

.campanella{
    width: 50px;
    height: 100%;
    border-radius: 50px;
    background-color: white;
}
.iconaNotifiche{
    font-size: 30px;
    color: #8EDAFC;
}

/********  chat ********/
.chat{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 80px;
}

.chat:hover{
    background-color: rgba(165, 164, 164, 0.644);
}

.avatar{
    height: 100%;
    border-radius: 50px;
    width: 60px;
}



.containerDx{
    width: 100%;
    background-color: antiquewhite;
    flex-wrap: wrap;
    
}

.chatInCorsoImg{
    height: 100%;
    width: 60px;
    border-radius: 50px;
}

.utenteChatDx{
    height: 60px;
    width: 100%;
    background-color: #EAEAEA;;
}

.contenutoChat{
    margin: auto;
    width: calc(90%);
    height: calc(100% - 120px);
    overflow-y: auto;
}



.sent{
    display: flex;
    align-self: flex-end;
    width: fit-content;
    background-color: green;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.received{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    width: fit-content;
    margin-top: 10px;
}

/* contenitore footer. */

.contenitoreFooter{
    width: 100%;
    background-color: #EAEAEA;
    height: 60px;
}

